@font-face {
  font-family: "austin";
  src: url("/fonts/Austin.ttf");
}
.gray-1 { color: #909090 }
.gray-2 { color: #707070 }
.gray-3 { color: #303030 }
body {
    margin: 0px;
    background-color: #b0b0b0;
    color: #303030;
    display: inline-block;
}
div {
    box-sizing: content-box;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
header .title {
    padding: 10px 100px;
    font-size: 85px;
    text-align: center;
}
main {
    display: flex;
    font-family: austin;
}
input {
    outline: none;
    background-color: #ddd;
    border: none;
    color: #333;
    text-align: center;
}
}
input:focus {
    background-color: #fff;
}
.column-left {
    padding: 16px;
    background: linear-gradient(#b0b0b0 10%, #a0a0a0 60%, #b0b0b0);
}
.column-left ul a {
    text-decoration: none;
    color: #111;
}
.column-left ul li {
    font-size: 20px;
    color: #111;
    cursor: pointer;
    padding-left: 6px;
}
.column-left ul li:hover {
    color: #000;
    padding-left: 3px;
    border-left: 3px solid #555;
}
.content {
    padding: 10px 40px;
}
.content > .word {
    font-size: 34px;
    width: 780px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.content .stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 12px 28px;
    background-color: #a0a0a8;
    margin-bottom: 16px;
    border-radius: 12px;
}
.content .stats > div {
    line-height: 14px;
}
.action {
    display: flex;
    gap: 24px;
}

.action > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 10px;
}
.action .selector {
    padding: 10px;
}
.action .selector, .action .selector input {
    width: 100%;
}
.action .selector input {
    background-color: #d0d0d8;
    border-radius: 4px;
    font-size: 34px;
    padding: 8px;
    line-height: 42px;
}
.action .feedback {
    font-size: 20px;
    color: #603030;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.action .feedback.empty {
    color: #606060;
}
.action .previous {
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    align-items: center;
    border: 1px solid #888;
    width: 100%;
    margin-bottom: 34px;
    border-radius: 8px;
    box-shadow: 2px 2px #666;
}
.action .previous.good { background-color: #b0b8b0; }
.action .previous.fine { background-color: #b8b4b0; }
.action .previous.bad { background-color: #b8b0b0; }
.action .previous .word {
    font-size: 28px;
    line-height: 34px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.action .previous .answer {
    font-size: 24px;
}

.action .go {
    padding: 24px;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px #888;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 350px;
    height: 438px;
}
.action .go.button {
    box-shadow: inset -2px -2px 5px #888;
    align-items: center;
    justify-content: center;
}
.action .go.button:active {
    box-shadow: inset 2px 2px 5px #888;
}
.action .go .option {
    position: relative;
    padding: 8px 10px;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px #666;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.action .go .option:hover {
    background-color: #b8b8b8;
}
.action .go .option:active {
    box-shadow: inset 2px 2px #666;
}
.action .go .option .display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.option:hover .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    padding: 8px 10px;
    top: 0px;
    left: 105%;
    width: 200px;
    border-radius: 4px;
    background-color: #d0d0d0;
}
